<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书列表</title>
</head>
<body>
<a th:href="@{/book/add}">添加图书</a>

<!-- 搜索框开始 -->
<form th:action="@{/book/search}" method="get" style="margin-bottom: 20px;">
    <input type="text" name="keyword" th:value="${keyword}" placeholder="请输入书名或作者关键字"/>
    <button type="submit">搜索</button>
    <a th:href="@{/book/list}">重置</a>
</form>
<!-- 搜索框结束 -->

<table>
    <tr>
        <th>书名</th><th>作者</th><th>库存</th><th>操作</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.stock}"></td>
        <td>
            <a th:href="@{'/borrow/borrow/' + ${book.id}}">借阅</a>
            <a th:href="@{'/book/delete/' + ${book.id}}">删除</a>
        </td>
    </tr>
</table>
</body>
</html>